
h3
{
	font-size: 54px;
	margin-bottom: 50px;

}

table
{
	text-align: center;
	width: 50%;
	border-collapse: collapse;
	
}
td
{
	background-color: rgb(247, 236, 191);	
	padding: 3px;
	border: 1px solid black;
}
th
{
	background-color: rgb(194, 156, 230);
	
	
}